@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Uni Construções";
}

<div class="text-center">
    <h1 class="display-4 mb-5 mt-4 text-primary">Uni Construções</h1>
</div>
<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Admin") || User.IsInRole("Gerente"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Fornecedores</h4>
                        <img src="https://image.flaticon.com/icons/svg/411/411760.svg" />
                        <a href="/Fornecedores" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Gerente") || User.IsInRole("Vendedor"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Clientes</h4>
                        <img src="https://image.flaticon.com/icons/svg/912/912318.svg" />
                        <a href="/Clientes" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Gerente") || User.IsInRole("RH"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Funcionários</h4>
                        <img src="https://image.flaticon.com/icons/svg/1670/1670353.svg" width="262" />
                        <a href="/Funcionarios" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Gerente"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Produtos</h4>
                        <img src="https://image.flaticon.com/icons/svg/1524/1524539.svg" width="262" />
                        <a href="/Produtoes" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Gerente") || User.IsInRole("Vendedor"))
        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Vendas</h4>
                        <img src="https://image.flaticon.com/icons/svg/454/454637.svg" width="262" />
                        <a href="/VendaProdutoes" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin"))

        {
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Endereços</h4>
                        <img src="https://image.flaticon.com/icons/svg/967/967848.svg" width="262" />
                        <a href="/Enderecos" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="card border border-primary" style="width: 19rem;">
                    <div class="card-body">
                        <h4 class="card-title text-primary">Telefones</h4>
                        <img src="https://image.flaticon.com/icons/svg/1250/1250592.svg" width="262" />
                        <a href="/Telefones" class="btn btn-outline-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-sm-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">A melhor loja de Materias de Construção!</h1>
                    <p class="lead">A mais de 20 anos no mercado.</p>
                </div>
            </div>
        </div>
    }
</div>
