@{
    ViewData["Title"] = "Uni Construções";
}

<div class="text-center">
    <h1 class="display-4 mb-5 mt-4 text-primary">Uni Construções</h1>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card border border-primary" style="width: 15rem;">
            <div class="card-body">
                <h4 class="card-title text-primary">Fornecedores</h4>
                <img src="https://image.flaticon.com/icons/svg/411/411760.svg" />
                <a href="/Fornecedores" class="btn btn-outline-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card border border-primary" style="width: 15rem;">
            <div class="card-body">
                <h4 class="card-title text-primary">Clientes</h4>
                <img src="https://image.flaticon.com/icons/svg/912/912318.svg" />
                <a href="/Clientes" class="btn btn-outline-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card border border-primary" style="width: 15rem;">
            <div class="card-body">
                <h4 class="card-title text-primary">Funcionários</h4>
                <img src="https://image.flaticon.com/icons/svg/1670/1670353.svg" width="197" />
                <a href="/Funcionarios" class="btn btn-outline-primary">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card border border-primary" style="width: 15rem;">
            <div class="card-body">
                <h4 class="card-title text-primary">Produtos</h4>
                <img src="https://image.flaticon.com/icons/svg/1524/1524539.svg" width="197" />
                <a href="/Produtoes" class="btn btn-outline-primary">Saiba mais</a>
            </div>
        </div>
    </div>
</div>
