@model Uni.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}


<h1 class="text-primary mt-2 mb-2">Editar</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-10 col-sm-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cpf" />
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" disabled/>
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Telefone.Telefones" class="control-label"></label>
                        <input asp-for="Telefone.Telefones" class="form-control" onkeypress="return valTELEFONE(event,this); return false;" />
                        <span asp-validation-for="Telefone.Telefones" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 d-none">
                    <div class="form-group">
                        <label asp-for="Telefone_Id_telefone" class="control-label"></label>
                        <input asp-for="Telefone_Id_telefone" class="form-control" />
                        <span asp-validation-for="Telefone_Id_telefone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 d-none">
                    <div class="form-group">
                        <label asp-for="Endereco_Id_endereco" class="control-label"></label>
                        <input asp-for="Endereco_Id_endereco" class="form-control" />
                        <span asp-validation-for="Endereco_Id_endereco" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Cep" class="control-label"></label>
                        <input asp-for="Endereco.Cep" class="form-control" onkeypress="return valCEP(event,this); return false;" maxlength="9" title="#####-###" size="10" onchange="pesquisacep(event);" />
                        <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Numero" class="control-label"></label>
                        <input asp-for="Endereco.Numero" class="form-control" />
                        <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Rua" class="control-label"></label>
                        <input asp-for="Endereco.Rua" class="form-control" id="rua" />
                        <span asp-validation-for="Endereco.Rua" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Bairro" class="control-label"></label>
                        <input asp-for="Endereco.Bairro" class="form-control" id="bairro" />
                        <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Cidade" class="control-label"></label>
                        <input asp-for="Endereco.Cidade" class="form-control" id="cidade" />
                        <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Endereco.Estado" class="control-label"></label>
                        <input asp-for="Endereco.Estado" class="form-control" id="uf" />
                        <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">
                    <div class="form-group">
                        <a class="btn btn-success" asp-action="Index">Voltar</a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">
                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/cep.js"></script>
    <script src="~/js/telefone.js"></script>
    <script src="~/js/cpf.js"></script>
}
