
@{
    ViewData["Title"] = "Erro Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary mt-2 mb-5">Erro ao excluir cliente!</h1>

<h4>Cliente <span class="text-danger">@ViewBag.Nome</span> - <span class="text-danger">@ViewBag.Cpf</span> não pode ser excluído pois está vinculado a uma ou mais vendas e/ou cotações!</h4>


@Html.ActionLink("Voltar", "Delete", new { id = ViewBag.Id }, new { @class = "btn btn-primary mt-2" })

